{% extends "base.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}
<div class="task-box">
    <h2>Your Tasks</h2>
    <form action="{{url_for('tasks.add_tasks')}}" method="POST" class="task-form">
        <input type="text" name="title" placeholder="New Task" required>
        <button type="submit" class="btn">Add</button>
    </form>

    {% if tasks %}
        <form method="POST" action="{{url_for('tasks.clear_tasks')}}">
            <button type="submit" class="btn btn-clear">Clear All Tasks</button>
        </form>
        <br>
        <table class="task-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>My Tasks</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{task.title}}</td>
            <td>
                <!--task.status ->badge pending/badge compete only is only for to gave css effect-->
                <span class="badge {{ task.status|lower }}">{{task.status}}</span>
            </td>
            <td>
                <form action="{{url_for('tasks.toggle_status',task_id=task.id)}}" method="POST">
                    <button class="btn-small" type="submit">Next</button>
                </form>
            </td>
            <td>
                <form action="{{url_for('tasks.delete_task',task_id=task.id)}}">
                    <button class="btn-small" type="submit">Delete</button>
                </form>
            </td>
            <td>
            <button type="button" class="btn btn-update" onclick="showEditBox({{ task.id }})">Modify</button>

            <!-- Hidden form (appears only when Modify is clicked) -->
            <form id="edit-form-{{ task.id }}" action="{{ url_for('tasks.update_task', task_id=task.id) }}" method="POST" style="display:none; margin-top:5px;">
                <input type="text" name="title" value="{{ task.title }}">
                <button type="submit" class="btn btn-save">Save</button>
            </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No tasks yet.Add one above!</p>
    {% endif %} 

</div>
<script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
{% endblock %}